<table class='table table-striped' >
  <thead>
      <tr>
        <%@headers.each {|header|%>
          <th><%=header%></th>
        <%}%>
      </tr>
    </thead>
    <tbody>
      <%@items.each {|item|%>
        <tr>
          <%@headers.each {|header|%>
            <td><%=item[header]%></td>
          <%}%>
        </tr>
      <%}%>
    </tbody>
</table>
