<h3>Form to create new user / Register here</h3>

<form action="/users" method="post">

  <div class="form-group">
    <label for="name">New User Name:</label>
    <input id="name" type="text" name="user[name]" value="" placeholder="Enter name">
  </div>

  <div class="form-group">
    <label> Email:
      <input type="email" name="user[email]" value="" required>
    </label>
  </div>

  <div class="form-group">
    <label> Address:
      <input type="text" name="user[address]" value="">
    </label>
  </div>

  <div class="form-group">
    <label> Password:
      <input type="password" name="user[password]" value="">
    </label>
  </div>

  <div class="form-group">
    <label> Credit card number:
      <input type="text" name="user[cc_number]" value="">
    </label>
  </div>

  <input type="submit" name="name" value="submit">

</form>
