body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  color: #ee4054;
  font-size: 2em;
}
th{
  font-size: 1em;
}
tr > th, tr > td {
  text-align: center;
}
form{
  display:inline-block;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1em;
  color: white;
}
.navbar{
  background: #ee4054;
}
.input_form{
  /*text-align: center;*/
  padding-left: 50px;
}
.notice {
  text-align: center;
}
.account_details {
  text-align: left;
}
.product_disp {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
  width: 200px;
  height: 300px;
}
.product_info {
  margin: 10px 10px;
}
.product_section {
  text-align: center;
}
.product_disp:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
