<h3 class="input_form">New user registration</h3>
<form class="input_form" action="/users" method="post">
    <div class="form-group row">
        <label class="col-xs-4">Name:</label>
        <div class="col-xs-10">
            <input type="text" class="form-control col-xs-3" name="user[name]" placeholder="Your name" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-4">Password:</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" name="user[password]">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-2">Email:</label>
        <div class="col-xs-12">
            <input type="email" class="form-control" name="user[email]" placeholder="yourname@example.com" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-4">Address:</label>
        <div class="col-xs-12">
            <input type="text" class="form-control" name="user[address]" placeholder="abc street">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-xs-6">Credit card number:</label>
        <div class="col-xs-12">
            <input type="text" class="form-control col-xs-2" name="user[cc_number]" placeholder="XXXX-XXXX-XXXX-XXXX">
        </div>
    </div>

    <input class="btn btn-success" type="submit" name="name" value="Register">

</form>
